<!DOCTYPE HTML>
<head>
    <title>USER SEARCH</title>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>

</head>
<body>
    <div id="hi">
        <input type="text" id="usr" value="username" />
        <button id="search" value="Search">Search</button>
        <div id="data" ></div>
    </div>
    <script type="text/javascript" src="{{url_for('static',filename='index.js')}}"></script>
</body>