<!DOCTYPE HTML>
<head>
    <title>USER SEARCH</title>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>

</head>
<body>
    <div id="hi">
        <button id="signout" value="Sign out">Sign out</button><br>
        <form id="delete" action=""><input type="submit" id="deletee" value="delete this Account"></form><br>
        <div id="data" >
            <form id="myform" action="">

            </form>
        </div>
    </div>
    <script type="text/javascript" src="{{url_for('static',filename='index.js')}}"></script>
</body>